<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<!--左上部分-->
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
 <%= render 'users/info', new_user: @user %>

<!--左下部分-->
<%= render 'books/form', new_book: @book %>
</div>
<!--右側-->
   <div class="col-md-8 offset-md-1">
  <h1>Books</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
   <% @user.books.each do |user| %>
   <tr>
     <td><%= attachment_image_tag @user, :profile_image, size: '40x40', fallback: "no_image.jpg" %><br><%= @user.name %></td>
     <td><%= user.title %></td>
     <td><%= user.body %></td>
   </tr>
<% end %>
 </tbody>
 </table>

</div>

  </div>
</div>