<!--左上部分-->

<!--左下部分-->
<h1>New Book</h1>
<!-- form_with部分 -->
<%= form_with model: @book, url:'/books', local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <p><%= f.submit 'Create Book' %></p>
<% end %>


<!--右側-->
<h1>Book detail</h1>
<% @books.each do |book| %>
  <p>Title</p>
  <span>
      <%= link_to book.title, book_path(book.id) %>
  </span>
  <p>Opinion</p>
  <span>
      <%= link_to book.body %>
  </span>
  <%= link_to "Edit", '/books/edit/:id' %>
  <%= link_to "Destroy", book_path(book) %>
<% end %>